@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;300;400;500;600;700&family=Montserrat&family=Montserrat+Alternates:wght@400;600;700&display=swap');

body {
  background: #4D3333;
  mix-blend-mode: hard-light;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.navbar-brand {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-nav li.nav-item a.nav-link {
  color: #FFF;
  text-align: center;
  font-family: 'Inter',
    sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-nav .socials li a {
  color: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 18px;
}

.navbar-nav .socials li a:hover {
  color: #ffffff;
  transform: scale(1.2);
}

hr {
  width: 110px;
  height: 2px;
  flex-shrink: 0;
  background: #FFBBA6;
}

h1 {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: rgba(255, 255, 255, 0.75);
  font-family: Inria Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #FFF;
  text-align: justify;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

p.subtitle {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-primary {
  width: 163px;
  height: 37px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  background: #F6F6F6;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
}

.hero-button button:hover {
  background: #654646;
}

.tomato-ketchup {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: url('/Assets/Images/Ketchup\ Home\ Page.png') lightgray 50% / cover no-repeat;
}

.tomato-powder {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: url('/Assets/Images/Tomato\ Powder\ Home\ Page.png') lightgray 50% / cover no-repeat;
}

.title {
  margin: 4em 0;
}

.hero .row {
  margin-top: 6em;
}

.hero .col-3 {
  margin-right: 4rem;
  width: 20rem;
}

footer {
  width: 100%;
  height: 25vh;
  margin-top: 4em;
  padding: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .col-3 {
  width: 20em;
  display: inline-flex;
  padding: 1rem;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 13px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.02);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

/* About Us Page */
.about-us {
  margin-top: 0;
  padding-top: 0;
}

.about-us p,
.about-us li {
  color: #FFF;
  text-align: justify;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  width: 100%;
}

.about-us .title {
  margin: 2.25rem;
}

.about-us h2 {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Media Queries */
/* Mobile */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
  body {
    height: auto;
    margin: 1em, 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    width: 80%;
  }

  p br {
    display: none;
  }

  p.subtitle {
    font-size: 16px;
  }

  .title {
    margin: 1em 0;
  }

  .hero .row {
    margin-top: 1em;
  }

  .hero .col-3 {
    margin-right: 1rem;
    width: 100%;
  }

  footer {
    margin-top: 1em;
    height: fit-content;
  }

  footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  footer .col-3 {
    width: 100%;
    margin-bottom: 2em;
  }

  .tomato-ketchup {
    height: auto;
  }

  .tomato-powder {
    height: auto;
  }

}

/* Laptop */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  p.subtitle {
    font-size: 30px;
    text-align: left;
  }

  .title {
    margin: 4em 0;
  }

  .hero .row {
    margin-top: 4em;
  }

  .hero .col-3 {
    margin-right: 2rem;
  }

  footer {
    margin-top: 2em;
  }

  footer .col-3 {
    width: 20em;
  }
}